@import "../../scss/normalize";

.categories {
  ul {
    display: flex;

    li:not(:last-child) {
      margin-right: 10px;
    }

    li {
      background-color: #ffffff;
      padding: 13px 30px;
      border-radius: 30px;
      border: 1px solid darken(#f9f9f9, 10%);

      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      @include noselect();

      &:hover {
        background-color: darken(#f9f9f9, 10%);
      }

      &:active {
        background-color: darken(#f9f9f9, 5%);
      }

      &.selected {
        background-color: #282828;
        color: #fff;
      }
    }
  }

  @media (max-width: 1260px) {
    width: 100%;
    overflow: auto;

    ul {
      width: 680px;
    }
  }

  @media (max-width: 824px) {
    margin-top: 30px;
    display: flex;
    justify-content: center;

    ul {
      justify-content: center;
      width: 550px;
      li {
        padding: 8px 20px;
      }
    }
  }
}