@import "../../../scss/normalize";
@import "../../../scss/variables";

.container {
  width: $container-width;
  margin: 0 auto;

  @media (max-width: 730px) {
    flex-direction: column;

    p {
      margin-right: 0;
    }
  }

  @media (max-width: 380px) {
    margin: 0;
  }
}

.container__cart {
  max-width: 820px;
  margin: 102px auto;
}

.content {
  padding: 40px 0 0;

  &__title {
    font-weight: 700;
    font-size: 38px;
    margin: 50px 0;

    @media (max-width: 824px) {
      display: flex;
      justify-content: center;
    }

    @media (max-width: 385px) {
      font-size: 30px;
      margin: 30px 0;
    }
  }
  &__items {
    display: block;
  }
}

.cart {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }

  .content__title {
    display: flex;
    align-items: center;
    font-size: 32px;

    svg {
      position: relative;
      top: -2px;
      width: 30px;
      height: 30px;
      margin-right: 10px;
      path {
        stroke: $black;
        stroke-width: 1.9;
      }
    }
  }

  &__clear,
  &__clear__disabled {
    display: flex;
    align-items: center;
    cursor: pointer;
    @include noselect();

    svg {
      path {
        stroke: #989898;
      }
    }

    span {
      display: inline-block;
      margin-left: 7px;
      color: rgb(141, 141, 141);
      font-size: 18px;
    }

    span,
    svg,
    path {
      transition: all $duration ease-in-out;
    }

    &:hover {
      svg {
        path {
          stroke: darken($color: #9d9d9d, $amount: 50);
        }
      }
      span {
        color: darken($color: #9d9d9d, $amount: 50);
      }
    }
  }

  &__clear__disabled {
    cursor: not-allowed;
    &:hover {
      svg {
        path {
          stroke: #989898;
        }
      }

      span {
        color: rgb(141, 141, 141);
      }
    }
  }

  &__bottom {
    margin: 50px 0;

    &__details {
      display: flex;
      justify-content: space-between;

      span {
        font-size: 22px;
        color: $black;

        &:last-of-type {
          b {
            color: $violet;
          }
        }
      }
    }

    &__buttons {
      display: flex;
      justify-content: space-between;
      margin: 40px 0;

      .go_back_btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 210px;
        background-color: white;
        border-radius: 30px;
        border: 2px solid rgb(182, 182, 182);
        padding: 16px;

        font-size: 16px;

        span {
          color: rgb(163, 163, 163);
          font-weight: 600;
        }

        &:hover {
          background-color: darken($color: $gray-line, $amount: 90);
          border-color: darken($color: $gray-line, $amount: 90);

          span {
            color: $gray-line;
          }
        }

        span {
          font-weight: 600;
          font-size: 16px;
        }

        i {
          display: inline-block;
          border-radius: 30px;
          background-color: $violet;
          color: #fff;
          font-weight: 600;
          width: 22px;
          height: 22px;
          font-style: normal;
          font-size: 13px;
          line-height: 22px;
          position: relative;
          top: -1px;
          left: 3px;
        }

        &:active {
          background-color: rgb(0, 0, 0);
          transform: translateY(1px);
        }
      }

      .pay__btn {
        font-size: 16px;
        font-weight: 600;
        width: 220px;
        padding: 18px;
        background-color: rgb(168, 30, 254);
        color: white;
        border: 0px;
        border-radius: 30px;
        text-align: center;
        span {
          color: white;
        }
        &:hover {
          background-color: rgb(146, 26, 220);
        }

        &:active {
          background-color: rgb(130, 23, 196);
          transform: translateY(1px);
        }
      }
    }
  }
}