@import "../../../scss/variables";

.button__plus {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  min-width: 32px;
  border: 2px solid $violet;
  border-radius: 30px;
  background-color: #fff;

  svg {
    path {
      fill: $violet;
    }
  }

  &:hover {
    background-color: $violet;

    &,
    span {
      color: #fff;
    }

    svg {
      path {
        fill: #fff;
      }
    }
  }

  &:active {
    background-color: darken($violet, 8%);
  }
}

.button__minus {
  svg {
    path:first-of-type {
      display: none;
    }
  }

  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  min-width: 32px;
  border: 2px solid $violet;
  border-radius: 30px;
  background-color: #fff;

  svg {
    path {
      fill: $violet;
    }
  }

  &:hover {
    background-color: $violet;

    svg {
      path {
        fill: #fff;
      }
    }
  }

  &:active {
    background-color: darken($violet, 8%);
  }
}

.button__remove {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  min-width: 32px;
  border: 2px solid #b4b4b4;
  border-radius: 30px;
  background-color: #fff;

  &:hover {
    background-color: darken($color: $gray-line, $amount: 90);
    border-color: darken($color: $gray-line, $amount: 90);

    &,
    span {
      color: #fff;
    }

    svg {
      path {
        fill: #fff;
      }
    }
  }

  &:active {
    background-color: darken($color: $gray-line, $amount: 100);
    border-color: darken($color: $gray-line, $amount: 100);
  }
}

.cart {
  &__item {
    display: flex;
    width: 100%;

    &__wrapper {
      padding: 15px;
      background-color: #fff;
      border-radius: 15px;
      margin-top: 20px;
    }

    &__img {
      display: flex;
      align-items: center;
      margin-right: 15px;
      width: 10%;

      img {
        width: 80px;
        height: 80px;
      }
    }

    &__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 40%;

      h3 {
        font-weight: bold;
        font-size: 22px;
        line-height: 27px;
        letter-spacing: 0.01em;
      }

      p {
        font-size: 18px;
        color: #8d8d8d;
      }
    }

    &__count {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 13%;

      b {
        font-size: 22px;
        margin: 0 10px;
      }
    }

    &__price {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 33%;

      b {
        font-weight: bold;
        font-size: 22px;
        letter-spacing: 0.01em;
      }
    }

    &__remove {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 4%;

      svg {
        transform: rotate(45deg);

        path {
          fill: darken($color: $gray-line, $amount: 15);
        }
      }
    }
  }
}

.product__card__image {
  width: 280px;
  border-radius: 10px;
}