.root {
  position: relative;
  left: 0;
}

.input {
  border: 1px solid rgba(150, 28, 226, 0.5);
  font-size: 16px;
  padding: 13px 15px 13px 42px;
  width: 350px;
  border-radius: 30px;

  &:focus {
    border: 1px solid rgb(150, 28, 226, 0.8);
  }
}

.icon {
  position: absolute;
  width: 24px;
  height: 24px;
  opacity: 0.5;
  left: 12px;
  top: 13px;
}

.clearIcon {
  position: absolute;
  width: 24px;
  height: 24px;
  opacity: 0.4;
  right: 13px;
  top: 13px;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
}
