.root {
  position: relative;
  left: 0;
}

.input {
  border: 1px solid rgba(150, 28, 226);
  background-color: #fcfcfc;
  font-size: 16px;
  padding: 13px 40px 13px 42px;
  width: 350px;
  border-radius: 30px;
  margin-right: 20px;

  &:focus {
    border: 1px solid rgb(123, 23, 162);
    background-color: #ffffff;
  }
}

.icon {
  position: absolute;
  width: 24px;
  height: 24px;
  opacity: 0.5;
  left: 12px;
  top: 13px;
}

.clearIcon {
  position: absolute;
  opacity: 0.4;
  right: 30px;
  top: 13px;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
}
